<html>
<head>
<link href="para.css" rel="stylesheet"/>
<style>
.m{width:100%;
height:100%;
}

.n{width:100%;
height:100%;

}
.k{width:20%;
height:100%;
float:left;
}



.c{
position:relative;
left:310px;
top:-600px;

max-height:auto;
max-width:1020px;
}

</style>
<script type="text/javascript">
function fun1()
{
	document.getElementById("div1").innerHTML=document.getElementById("t1").value;
}
function fun2()
{
	document.getElementById("div2").innerHTML=document.getElementById("t2").value;
}
function fun3()
{
	document.getElementById("div3").innerHTML=document.getElementById("t3").value;
}
function fun4()
{
	document.getElementById("div4").innerHTML=document.getElementById("t4").value;
}
function fun5()
{
	document.getElementById("div5").innerHTML=document.getElementById("t5").value;
}
</script>
</head>
<body1>

 <div class="m">
	
	    <div class="k">
                    
					
                        
                          
					     
					
					   
      <h1>CSS Tutorial</h1>  
<!-- <button class="button button1"><a id="str" href="c.html">HTML HOME</a></button>            -->
<button class="button button2"><a id="str" href="intro.html">CSS Introduction</a></button>
<button class="button button3"><a id="str" href="selector.html">CSS Selector</a></button>
<button class="button button1"><a id="str" href="border.html">CSS Comments</a></button>
<button class="button button2"><a id="str" href="element.html">CSS Border</a></button>
<button class="button button3"><a id="str" href="boxmodel.html">CSS Boxmodel</a></button>
<button class="button button1"><a id="str" href="list.html">CSS List</a></button>
<button class="button button2"><a id="str" href="Paragraph.html">CSS Navigation</a></button>
<button class="button button3"><a id="str" href="position.html">CSS Position</a></button>
<button class="button button1"><a id="str" href="imggallery.html">CSS ImageGallery</a></button>
<button class="button button2"><a id="str" href="align.html">CSS Align</a></button>
<button class="button button3"><a id="str" href="form.html">CSS Form</a></button>

		</div>			  
             
    </div>    
<div class="c">
<article>
<div class="l">
<h1>CSS INTRODUCTION </h1>
</div>
<h3>
HTML paragraph or HTML p tag is used to define a paragraph in a webpage. Let's take a simple example to see how it work. It is a notable point that a browser itself add an empty line before and after a paragraph. An HTML &lt p &gt tag indicates starting of new paragraph.
 </h3>
 
 <h1>See this example:</h1>
 <div style="float:left;width:100%">

<div style="float:left;width:50%">

<div class="runcode" style="height:70%">

<textarea id="t1" style="width:100%;height:515px;font-size:20px;color:#0040ff;background-color:#f1f1f1!important">

<!DOCTYPE html>  
<html>  
     <head>  
    </head>  
  <body>  
      <h2> Use of line break with pragraph tag</h2>  
          <p><br>Papa and mama, and baby and Dot,  
     <br>Willie and me?the whole of the lot  
               <br>Of us all went over in Bimberlie's sleigh,  
                 <br>To grandmama's house on Christmas day.  
          </p>  
   </body>  
</html>  
    
</textarea> 
</div>
<input type="button" value="Try yourself" onclick="fun1()"  style="color:blue; height:38px;width:150px;background-color:#00FFCC; border:#00FFCC;font-weight:bold;font-size:20px ;border-radius:20px; cursor: pointer; "onmouseover="this.style.color='#990066' "onmouseout="this.style.color='blue'"/><br/>

</div>
<div style="float:left;width:50%">
<div id="div1" style="font-size:25px;;margin-left:30px"><h1>output</h1></div>
</div>

</div>

<hr/>






 
</article>
</div>


</body1>
</html>
