<html>
<head lang="en">
<script>
//set minutes 
		var mins = 1; 

		//calculate the seconds 
		var secs = mins * 60; 

		//countdown function is evoked when page is loaded 
		function countdown() { 
			setTimeout('Decrement()', 60); 
		} 

		//Decrement function decrement the value. 
		function Decrement() { 
			if (document.getElementById) { 
				minutes = document.getElementById("minutes"); 
				seconds = document.getElementById("seconds"); 

				//if less than a minute remaining 
				//Display only seconds value. 
				if (seconds < 59) { 
					seconds.value = secs; 
				} 

				//Display both minutes and seconds 
				//getminutes and getseconds is used to 
				//get minutes and seconds 
				else { 
					minutes.value = getminutes(); 
					seconds.value = getseconds(); 
				} 
				//when less than a minute remaining 
				//colour of the minutes and seconds 
				//changes to red 
				if (mins < 1) { 
					minutes.style.color = "red"; 
					seconds.style.color = "red"; 
				} 
				//if seconds becomes zero, 
				//then page alert time up 
				if (mins < 0) { 
					showScores(); 
					minutes.value = 0; 
					seconds.value = 0; 
				} 
				//if seconds > 0 then seconds is decremented 
				else { 
					secs--; 
					setTimeout('Decrement()', 1000); 
				} 
			} 
		} 

		function getminutes() { 
			//minutes is seconds divided by 60, rounded down 
			mins = Math.floor(secs / 60); 
			return mins; 
		} 

		function getseconds() { 
			//take minutes remaining (as seconds) away 
			//from total seconds remaining 
			return secs - Math.round(mins * 60); 
		} 
</script>
<meta charset="UTF-8">
<style>

</style>
<title> Quiz by Nikhil </title>
<link rel="stylesheet" type="text/css" href="style3.css">
</head>
<body onload="countdown();">
<div class="grid">
    <div> 
		Time Left :: 
		<input id="minutes" type="text" style="width: 10px; 
			border: none; font-size: 16px; 
			font-weight: bold; color: black;"><font size="5"> : 
						</font> 
		<input id="seconds" type="text" style="width: 20px; 
						border: none; font-size: 16px; 
						font-weight: bold; color: black;"> 
	</div> 
<div id="quiz">
<h1> QUIZ </h1>
<hr style="margin-bottom: 20px">
<p id="question"> </p>

<div class="button">
<button id="bt0"> <span id="choice0"> </span> </button>
<button id="bt1"> <span id="choice1"> </span> </button>
<button id="bt2"> <span id="choice2"> </span> </button>
<button id="bt3"> <span id="choice3"> </span> </button>

</div>

<hr style="margin-top: 50px">

<footer>
<p id="progress"> Question x of y</p>
</footer>
</div>
</div>

<--<script src="quiz3.js"> </script>
//<script src="question3.js"> </script>
//<script src="app3.js"> </script>-->






</body>



</html>