<html>
<head>
<link href="para.css" rel="stylesheet"/>
<style>
.m{width:100%;
height:100%;
}

.n{width:100%;
height:100%;

}
.k{width:20%;
height:100%;
float:left;
}



.c{
position:relative;
left:310px;
top:-600px;

max-height:auto;
max-width:1020px;
}

</style>
<script type="text/javascript">
function fun1()
{
	document.getElementById("div1").innerHTML=document.getElementById("t1").value;
}
function fun2()
{
	document.getElementById("div2").innerHTML=document.getElementById("t2").value;
}
function fun3()
{
	document.getElementById("div3").innerHTML=document.getElementById("t3").value;
}
function fun4()
{
	document.getElementById("div4").innerHTML=document.getElementById("t4").value;
}
function fun5()
{
	document.getElementById("div5").innerHTML=document.getElementById("t5").value;
}
</script>
{% load static %}
<link rel="stylesheet" href={% static "para.css"%}>
</head>
<body1>

 <div class="m">
	
	    <div class="k">
                    
					
                        
                          
					     
					
					   
      <h1>CSS Tutorial</h1>  
<!-- <button class="button button1"><a id="str" href="c.html">HTML HOME</a></button>            -->
<button class="button button2"><a id="str" href="/intro">CSS Introduction</a></button>
<button class="button button3"><a id="str" href="/selector">CSS Selector</a></button>
<button class="button button1"><a id="str" href="/comments">CSS Comments</a></button>
<button class="button button2"><a id="str" href="/element">CSS Border</a></button>
<button class="button button3"><a id="str" href="/boxmodel">CSS Boxmodel</a></button>
<button class="button button1"><a id="str" href="/list">CSS List</a></button>
<button class="button button2"><a id="str" href="/navigation">CSS Navigation</a></button>
<button class="button button3"><a id="str" href="/position">CSS Position</a></button>
<button class="button button1"><a id="str" href="/imggallery">CSS ImageGallery</a></button>
<button class="button button2"><a id="str" href="/align">CSS Align</a></button>
<button class="button button3"><a id="str" href="/form">CSS Form</a></button>
		</div>			  
             
    </div>    
<div class="c">
<article>
<div class="l">
<h1>CSS INTRODUCTION </h1>
</div>
 <div class="r">
<h3>
  
  <li> CSS stands for Cascading Style Sheets <br> </li>
    <li>       CSS describes how HTML elements are to be displayed on screen, paper, or in other media <br> </li>
      <li>    CSS saves a lot of work. It can control the layout of multiple web pages all at once <br> </li>
          <li> External stylesheets are stored in CSS files <br> </li>
    
 </h3>
</div>
 <div class="l">
 <h1>See this example:</h1>
 </div>
 <div style="float:left;width:100%">

<div style="float:left;width:50%">

<div class="runcode" style="height:70%">

<textarea id="t1" style="width:100%;height:515px;font-size:20px;color:#0040ff;background-color:#f1f1f1!important">

  <!DOCTYPE html>
  <html>
  <head>
  <style>
   p{
    background-color: lightblue;
  }
  
  
  p {
  color:green;
  height:5cm;
  width:5cm;
    font-family: verdana;
    font-size: 20px;
  }
  </style>
  </head>
  <body>
  
  <h1>My First CSS Example</h1>
  <p>This is a paragraph.</p>
  
  </body>
  </html>
</textarea> 
</div>
<input type="button" value="Try yourself" onclick="fun1()"  style="color:blue; height:38px;width:150px;background-color:#00FFCC; border:#00FFCC;font-weight:bold;font-size:20px ;border-radius:20px; cursor: pointer; "onmouseover="this.style.color='#990066' "onmouseout="this.style.color='blue'"/><br/>

</div>
<div style="float:left;width:50%">
<div id="div1" style="font-size:25px;;margin-left:30px"><h1>output</h1></div>
</div>

</div>

<hr/>






 
</article>
</div>


</body1>
</html>
